<div class="text-center" style="text-align: center;">
    <h2>Sa nasim aparatima mozete brzo i lako napraviti:</h2>
    <div >
        <table id="divtable1">
                <tr>
                        <td>
                                <video controls="controls" id="video1" >
                                        <source src="assets/salataodpovrca.mp4" type="video/mp4" />
                                </video><br/>
                        </td>
                        <td>
                                <video controls="controls" id="video1" >
                                        <source src="assets/vocnasalata.mp4" type="video/mp4" />
                                </video><br/>
                        </td>
                        <td>
                                <video controls="controls" id="video1" >
                                        <source src="assets/tzaziki salata.mp4" type="video/mp4" />
                                </video><br/>
                        </td>
                        <td>
                                <video controls="controls" id="video1" >
                                        <source src="assets/taboulisalata.mp4" type="video/mp4" />
                                </video><br/>
                        </td>
                </tr>
                <tr id="hedertable1" >
                    <td>Salata od povrca</td>
                    <td>Vocna salata</td>
                    <td>Tzaziki salata</td>
                    <td>Tabouli salata</td>
                </tr>
        </table>
</div >
<div style="padding-top: 50px;"> 
        <table id="table1" >
                <tr>
                    <td>Tefal pesma</td>
                    <td>
                        <audio controls="controls" id="audio1">
                            <source src="assets/tefalpesma.mp3" type="audio/mp3"/>
                     </audio>
                    </td>
                </tr>

            </table>
</div>
            
        
    </div>
