<h1>Product Details</h1>
<div class="container">
  <div class="row">
    <div *ngIf="proizvod">
      <div class="col-md-12">
          <div class="card ">
              <div id="grid1" >
                    <div class="thumbnails group" >
                        <a [href]="proizvod.url1" data-lightbox="gallery"><img [src]="proizvod.url1" alt="Image 1"></a>
                        <a [href]="proizvod.url2" data-lightbox="gallery"><img [src]="proizvod.url2" alt="Image 2"></a>
                        <a [href]="proizvod.url3" data-lightbox="gallery"><img [src]="proizvod.url3" alt="Image 3"></a>
                        <a [href]="proizvod.url4" data-lightbox="gallery"><img [src]="proizvod.url4" alt="Image 4"></a>
                    </div>
              </div>
              <div class="card-block " >
                  <h4 class="card-title">{{proizvod.name}}</h4>
                  <p 
                      class="card-text col-md-3" 
                      style=
                          "font-size: 25px; 
                          color: white; 
                          font-weight: bold; 
                          border: 2px solid black; 
                          background-color: black;
                          font-family: monospace;
                          text-align: center;">
                          Cena: €{{proizvod.price}}
                  </p>
                  <p class="card-text" *ngIf="proizvod.description">Opis: {{proizvod.description}}</p>
                  <ng-template [ngIf]="autentifikacijaService.prijavljen()">
                      <a class="add-to-cart btn btn-success"
                          style=
                            "color:white; 
                            font-weight: bold;
                            margin-right: 20px;"
                          routerLink="/korpa"
                          (click)="staviUKorpu(proizvod)">
                          Ubaci u korpu
                      </a>
                </ng-template>
                  <a 
                    class="add-to-cart btn btn-info" 
                    routerLink='/shop'
                    style="color: white; font-weight: bold;; margin-right: 10px;">
                    Nazad u Shop
                </a>
                </div>
             
    </div>
    </div>
  </div>
</div>
