<div id="bigdiv" class="container py-3" >
          <div class="carousel slide" data-ride="carousel" id="multi_item">
            <div class="carousel-inner v-2" role="listbox">
              <div class="carousel-item active" >
                <div class="row">
                  <div class="col-12 col-md-4 item">
                    <div class="card mb-2" style="width:290px; height:410px;">
                      <img class="card-img-top" src="./assets/img/folder1/slika1.png" alt="TEFAL Multicooker 8in1">
                      <div class="card-body">
                        <h4 class="card-title">TEFAL Multicooker 8in1</h4>
                        <a 
                            class="btn btn-success" 
                            [routerLink]="['/opis', 0]">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            Detaljnije
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 item">
                      <div class="card mb-2" style="width:290px; height:410px;">
                          <img class="card-img-top" src="./assets/img/folder2/slika1.png" alt="TEFAL ActiFry Express XL">
                          <div class="card-body">
                            <h4 class="card-title">TEFAL ActiFry Express XL</h4>
                            <a 
                                class="btn btn-success" 
                                [routerLink]="['/opis', 1]">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                Detaljnije
                            </a>
                          </div>
                        </div>
                  </div>
                  <div class="col-12 col-md-4 item">
                      <div class="card mb-2" style="width:290px; height:410px;">
                          <img class="card-img-top" src="./assets/img/folder3/slika1.png" alt="TEFAL Vitacuisine Compact">
                          <div class="card-body">
                            <h4 class="card-title">TEFAL Vitacuisine Compact</h4>
                            <a 
                                class="btn btn-success" 
                                [routerLink]="['/opis', 2]">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                Detaljnije
                            </a>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-md-4 item">
                      <div class="card mb-2" style="width:290px; height:410px;">
                          <img class="card-img-top" src="./assets/img/folder4/slika1.png" alt="TEFAL Masterchef Gourmet">
                          <div class="card-body">
                            <h4 class="card-title">TEFAL Masterchef Gourmet</h4>
                            <a 
                                class="btn btn-success" 
                                [routerLink]="['/opis', 3]">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                Detaljnije
                            </a>
                          </div>
                        </div>
                  </div>
                  <div class="col-12 col-md-4 item">
                      <div class="card mb-2" style="width:290px; height:410px;">
                          <img class="card-img-top" src="./assets/img/folder5/slika1.png" alt="TEFAL Infiny Press">
                          <div class="card-body">
                            <h4 class="card-title">TEFAL Infiny Press</h4>
                            <a 
                                class="btn btn-success" 
                                [routerLink]="['/opis', 4]">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                Detaljnije
                            </a>
                          </div>
                        </div>
                  </div>
                  <div class="col-12 col-md-4 item">
                      <div class="card mb-2" style="width:290px; height:410px;">
                          <img class="card-img-top" src="./assets/img/folder6/slika1.png" alt="TEFAL Fresh Express + ">
                          <div class="card-body">
                            <h4 class="card-title">TEFAL Fresh Express + </h4>
                            <a 
                                class="btn btn-success" 
                                [routerLink]="['/opis', 5]">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                Detaljnije
                            </a>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-md-4 item">
                      <div class="card mb-2" style="width:290px; height:410px;">
                          <img class="card-img-top" src="./assets/img/folder7/slika1.png" alt="TEFAL Pain & Délices">
                          <div class="card-body">
                            <h4 class="card-title">TEFAL Pain & Délices</h4>
                            <a 
                                class="btn btn-success" 
                                [routerLink]="['/opis', 6]">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                Detaljnije
                            </a>
                          </div>
                        </div>
                  </div>
                  <div class="col-12 col-md-4 item">
                      <div class="card mb-2" style="width:290px; height:410px;">
                          <img class="card-img-top" src="./assets/img/folder8/slika1.png" alt="TEFAL OptiGrill+ Snacking & Baking GC714834">
                          <div class="card-body">
                            <h4 class="card-title">TEFAL OptiGrill+ Snacking & Baking GC714834</h4>
                            <a 
                                class="btn btn-success" 
                                [routerLink]="['/opis', 7]">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                Detaljnije
                            </a>
                          </div>
                        </div>
                  </div>
                  <div class="col-12 col-md-4 item">
                      <div class="card mb-2" style="width:290px; height:410px;">
                          <img class="card-img-top" src="./assets/img/folder6/slika1.png" alt="TEFAL Fresh Express + ">
                          <div class="card-body">
                            <h4 class="card-title">TEFAL Fresh Express + </h4>
                            <a 
                                class="btn btn-success" 
                                [routerLink]="['/opis', 5]">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                Detaljnije
                            </a>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Controls-->
            <div class="divcar" >
            <a class="carousel-control-prev" href="#multi_item" role="button" data-slide="prev">
                <i class="fa fa-chevron-circle-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </div >
          <div>
              <a class="carousel-control-next" href="#multi_item" role="button" data-slide="next">
                  <i class="fa fa-chevron-circle-right"></i>
                <span class="sr-only">Next</span>
              </a>
          </div>
            
              <!--Indicators-->
            <div id="car-indicators">
                <ol class="carousel-indicators">
                  <li data-target="#multi_item" data-slide-to="0" class="active"></li>
                  <li data-target="#multi_item" data-slide-to="1"></li>
                  <li data-target="#multi_item" data-slide-to="2"></li>
                </ol>
              </div>
          </div>
        </div>
        
