<header id="section">
    <div class="bckg">
      <div class="container content">
        <div class="row">
          <div class="col-md-6 d-none d-md-block ">
            <h1 class="display-4"><strong>Registracija</strong></h1>
            <h4>Ako zelis da vidis ostatak stranice, registruj se</h4>
          </div>
          <div class="col-md-6">
            <div class="card  text-center card-form">
              <div class="card-body">
                <form (ngSubmit)="prijaviSe(f)" #f="ngForm">
                  <div class="form-group">
                    <input 
                    type="email" 
                    placeholder="Email" 
                    id="email" 
                    name="email" 
                    ngModel
                    #emailRef="ngModel"
                    required
                    email
                    class="form-control form-control-lg">
                  </div>
                  <div *ngIf="emailRef.errors && (emailRef.dirty ||emailRef.touched)" class="alert alert-danger col-md-12">
                    <div [hidden]="!emailRef.errors.required">Molimo unesite Vas email.</div>
                    <div [hidden]="!emailRef.errors.email">Unesite validan email.</div>
             </div>
                  <div class="form-group">
                    <input 
                    type="password" 
                    placeholder="Sifra" 
                    id="password" 
                    name="sifra" 
                    ngModel 
                    #passwordRef="ngModel"
                    required
                    minlength="6"
                    class="form-control form-control-lg">
                  </div>
                  <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" class="alert alert-danger col-md-12">
                    <div [hidden]="!passwordRef.errors.required">Molimo unesite sifru..</div>
                    <div [hidden]="!passwordRef.errors.minlength">Sifra mora da ima najmanje 6 karaktera.</div>
                </div>
                  <button 
                    class="btn btn-block btn-success"
                    type="submit"
                    [disabled]="!f.form.valid" >Registruj se</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
