<div id="grid1">
        <div class="thumbnails group" >
            <a href="assets/img/gallery1.jpg" data-lightbox="gallery" data-title="Aparat za sendvice"><img src="assets/img/gallery1-thumb.jpg" alt="Image 1"></a>
            <a href="assets/img/gallery2.png" data-lightbox="gallery" data-title="Pecnica za hleb"><img src="assets/img/gallery2-thumb.png" alt="Image 2"></a>
            <a href="assets/img/gallery3.png" data-lightbox="gallery" data-title="Mini friteza"><img src="assets/img/gallery3-thumb.jpg" alt="Image 3"></a>
            <a href="assets/img/gallery4.png" data-lightbox="gallery" data-title="Mikrotalasna"><img src="assets/img/gallery4-thumb.png" alt="Image 4"></a>
            <a href="assets/img/gallery5.png" data-lightbox="gallery" data-title="Sokovnik"><img src="assets/img/gallery5-thumb.png" alt="Image 5"></a>
            <a href="assets/img/gallery6.png" data-lightbox="gallery" data-title="Ekspres lonac"><img src="assets/img/gallery6-thumb.png" alt="Image 6"></a>
            <a href="assets/img/gallery7.png" data-lightbox="gallery" data-title="Elektricno rende"><img src="assets/img/gallery7-thumb.jpg" alt="Image 7"></a>
            <a href="assets/img/gallery8.png" data-lightbox="gallery" data-title="Mikser"><img src="assets/img/gallery8-thumb.jpg" alt="Image 8"></a>
        </div>
        <div id="ShowMore">
            <button (click)="goGallery()" class="btn btn-danger " style="font-family: monospace; font-weight: bold; clear: both;">Prikazi vise</button>
        </div>
    </div>