<div class="jumbotron text-center" style="background-color: white">
        <h1> Dobro dosli u <img src="assets/tefallogo.gif"></h1>
        
        <img style="padding-bottom: 10px; height: 200px; width: 200px;" alt="Logo Tefal Shop" src="assets/tefalLOGO.jpg">
        
        <p id="p1">
                  Naša misija je da vam ponudimo proizvode i usluge koji će vam omogućiti da pripremite ukusne, raznolike i zdrave obroke, i da vama, članovima vaše porodice i vašim prijateljima pomognemo u svakodnevnim obavezama.
        </p>
        <hr class="my-4">
       
    </div>