<h3>O Tefal Shopu</h3>
<div class="textOverImage"
style="background-image:url(https://i.ibb.co/mXg170J/abouttefal.jpg)"
data-text="Tefal shop
Tefalove inovacije nisu puka slučajnost, neprestano ih osmišljavamo jer želimo da udovoljimo jednoj osobi: VAMA!Brinemo o vama i životnoj sredini jer želimo da ostvarimo održiv rast. Malo humora, mrvica dovitljivosti, to je naš recept!
">
</div>
<div>
    <h3>Naša misija</h3>
    <p>Naša misija je da vam ponudimo proizvode i usluge koji će vam omogućiti da pripremite ukusne, raznolike i zdrave obroke, i da vama, članovima vaše porodice i vašim prijateljima pomognemo u svakodnevnim obavezama.</p>
</div>
<div>
    <h3>Naše inovacije</h3>
    <p>
        Ubeđeni smo da je ključ uspeha u inovacijama.

U Tefalu primenjujemo svoje znanje iz oblasti tehnologije, ergonomije, svakodnevnog korišćenja proizvoda i navika potrošača kako bismo saznali vaše potrebe i osmislili nova rešenja, proizvode i usluge koji će unaprediti vaš svakodnevni život.

Znamo da možemo da vam ponudimo inovacije koje će potpuno izmeniti vaš život ako osluškujemo vaše potrebe.
    </p>
</div>