<div id="divForm" >
        
    <form #userForm="ngForm" (ngSubmit)="onSubmit(); userForm.reset()" novalidate >
            <fieldset>
            <legend><b>Kontakt forma:</b></legend>
        <div>
            <div class="form-group">
                    <i class="fa fa-user" ></i><label class=" col-md-6"for="firstName">Ime i prezime:</label>
                    <input    
                    id="firstName" 
                    type="text"  
                    class="form-control col-md-10 "
                    ngModel
                    #nameRef="ngModel"
                    required
                    minlength="3"
                    name="firstName"
                    placeholder="Pera Peric">
                
                <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger col-md-10">
                    <div [hidden]="!nameRef.errors.required">Molimo unesite Vase ime i prezime.</div>
                    <div [hidden]="!nameRef.errors.minlength">Ime i prezime moraju sadrzati bar 3 slova.</div>
                </div>
            </div>
            <div class="form-group">
                    <i class="fa fa-phone"></i> <label class="control-label col-md-6" for="phone">Telefon:</label>
                <input  
                    id="phone" 
                    type="text" 
                    class="form-control col-md-10" 
                    ngModel
                    #phoneRef="ngModel"
                    required
                    name="phone"
                    placeholder="+ (123) 456-7890"
                    [textMask]="{mask: phoneMask}">
                 <div *ngIf="phoneRef.errors && (phoneRef.dirty || phoneRef.touched)" class="alert alert-danger col-md-10">
                        <div [hidden]="!phoneRef.errors.required">Molimo unesite broj telefona.</div>
                    
                        
                </div>
               
            </div>
            <div class="form-group">
                    <i class="fa fa-envelope" ></i><label class="control-label col-md-6" for="email">Email:</label>
                <input  
                    id="email" 
                    type="email" 
                    class="form-control col-md-10" 
                    ngModel
                    #emailRef="ngModel"
                    required
                    email
                    name="email"
                    placeholder="toskea@gmail.com">
                 <div *ngIf="emailRef.errors && (emailRef.dirty ||emailRef.touched)" class="alert alert-danger col-md-10">
                        <div [hidden]="!emailRef.errors.required">Molimo unesite Vas email.</div>
                        <div [hidden]="!emailRef.errors.email">Unesite validan email.</div>
                 </div>
            </div>
            <div class="form-group">
                    <i class="fa fa-home" ></i><label class="control-label col-md-6" for="address">Adresa:</label>
                <input  
                    id="address" 
                    type="text" 
                    class="form-control col-md-10"
                    ngModel
                    #addressRef="ngModel"
                    required
                    minlength="5"
                    name="address"
                    placeholder="Dunavska 7">
                 <div *ngIf="addressRef.errors && (addressRef.dirty ||addressRef.touched)" class="alert alert-danger col-md-10">
                        <div [hidden]="!addressRef.errors.required">Molimo unesite Vasu adresu.</div>
                        <div [hidden]="!addressRef.errors.minlength">Adresa mora sadrzati bar 3 slova.</div>
                </div>
            </div>
            <div class="form-group">
                    <i class="fa fa-book" ></i><label class="control-label col-md-6" for="subject">Predmet:</label>
                <input  
                    id="subject" 
                    type="text" 
                    ngModel
                    #subjectRef="ngModel"
                    required
                    class="form-control col-md-10" 
                    name="subject"
                    placeholder="Komentar broj 1">
                <div *ngIf="subjectRef.errors && (subjectRef.dirty ||subjectRef.touched)" class="alert alert-danger col-md-10">
                        <div [hidden]="!subjectRef.errors.required">Molimo unesite naslov Vaseg komentara.</div>
                </div>
            </div>
            <div class="form-group">
                    <i class="fa fa-pencil" ></i><label class="control-label col-md-6"  for="comment">Komentar:</label>
                <textarea  
                    name="comment" 
                    id="comment" 
                    cols="25" 
                    rows="6"
                    wrap="soft"
                    class="form-control col-md-10" 
                    placeholder="Unesite tekst ovde..." ></textarea>
            </div>
            
            <button 
            type="submit" 
            id="btnAlert"
            class="btn"
            [disabled]="!userForm.form.valid" 
           
            >Posalji</button>
        </div>
    </fieldset>
        </form>
    
</div>

