<div id="grid1">
    <h3>Galerija Tefal proizvoda</h3>
           
    <div class="thumbnails group" >
        <a href="assets/img/gallery1.jpg" data-lightbox="gallery" data-title="Aparat za sendvice"><img src="assets/img/gallery1.jpg" alt="Image 1"></a>
        <a href="assets/img/gallery2.png" data-lightbox="gallery" data-title="Pecnica za hleb"><img src="assets/img/gallery2.png" alt="Image 2"></a>
        <a href="assets/img/gallerypage/sendvicar1.jpg" data-lightbox="gallery" data-title="Aparat za bakine kolace"><img src="assets/img/gallerypage/sendvicar1.jpg" alt="Image 3"></a>
        <a href="assets/img/gallery4.png" data-lightbox="gallery" data-title="Mikrotalasna"><img src="assets/img/gallery4-thumb.png" alt="Image 4"></a>
        <a href="assets/img/gallery5.png" data-lightbox="gallery" data-title="Sokovnik"><img src="assets/img/gallery5-thumb.png" alt="Image 5"></a>
        <a href="assets/img/gallery6.png" data-lightbox="gallery" data-title="Ekspres lonac"><img src="assets/img/gallery6-thumb.png" alt="Image 6"></a>
        <a href="assets/img/gallerypage/stapnimikser.jpg" data-lightbox="gallery" data-title="Stapni mikser"><img src="assets/img/gallerypage/stapnimikser.jpg" alt="Image 7"></a>
        <a href="assets/img/gallerypage/secko.jpg" data-lightbox="gallery" data-title="Mini sokovnik"><img src="assets/img/gallerypage/secko.jpg" alt="Image 8"></a>
        
        <a href="assets/img/gallerypage/gallery9.png" data-lightbox="gallery" data-title="Pecnica za hleb"><img src="assets/img/gallerypage/gallery9.png" alt="Image 9"></a>
        <a href="assets/img/gallerypage/gallery10.png" data-lightbox="gallery" data-title="Ekspres lonac"><img src="assets/img/gallerypage/gallery10.png" alt="Image 10"></a>
        <a href="assets/img/gallerypage/gallery11.jpg" data-lightbox="gallery" data-title="Sokovnik"><img src="assets/img/gallerypage/gallery11.jpg" alt="Image 11"></a>
        <a href="assets/img/gallerypage/gallery12.png" data-lightbox="gallery" data-title="Friteza"><img src="assets/img/gallerypage/gallery12.png" alt="Image 12"></a>
        <a href="assets/img/gallerypage/gallery13.png" data-lightbox="gallery" data-title="Friteza za krompir"><img src="assets/img/gallerypage/gallery13.png" alt="Image 13"></a>
        <a href="assets/img/gallerypage/gallery14.png" data-lightbox="gallery" data-title="Mirkotalasna"><img src="assets/img/gallerypage/gallery14.png" alt="Image 14"></a>
        <a href="assets/img/gallerypage/gallery15.png" data-lightbox="gallery" data-title="Ringla za kuvanje"><img src="assets/img/gallerypage/gallery15.png" alt="Image 15"></a>
        <a href="assets/img/gallerypage/gallery16.png" data-lightbox="gallery" data-title="Ekspres lonac"><img src="assets/img/gallerypage/gallery16.png" alt="Image 16"></a>
    </div>
    
</div>