<div class="jumbotron text-center" style="background-color: white">
        <h1> {{ title }}!</h1>
        
        <img width="900px" height="300px" style="padding-bottom: 10px;" alt="Naslovna Tefal Shop" src="assets/jumbotrontefal.jpg">
        
        <p id="p1">
                Tefal vam je sve ove godine nudio raznovrsna inovativna rešenja i uz vašu pomoć smo postali najveći svetski proizvođač posuđa sa nelepljivom oblogom, kao i u lider u proizvodnji pegli, kuhinjskih aparata, aparata za kuvanje na pari, proizvoda za pripremu hrane i pića i telesnih vaga. Tefal se danas nalazi u vašoj blizini, u više od 120 zemalja sveta.
        </p>
        <hr class="my-4">
       
</div>
